.load-anim{
    
}
.loadmore-text{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.loadmore{
    width: 60px;
    height: 35px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.loadmore span {
    display: inline-block;
    width: 6px;
    height: 100%;
    border-radius: 4px;
    background: lightgreen;
    -webkit-animation: loading 1s ease infinite;
    animation: loading 1s ease infinite;
}
@keyframes loading{
    0%, 100% {
        height: 30px;
        background: lightgreen;
    }
    
    50% {
        height: 60px;
        margin: -15px 0;
        background: lightblue;
    }
}
.loadmore span:nth-child(2){
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.loadmore span:nth-child(3){
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.loadmore span:nth-child(4){
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.loadmore span:nth-child(5){
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

