@charset "utf-8";
.top-logo-container{
    height: 80px;
}
.top-logo{
    margin:25px 30px 25px 30px;
    width: 121px;
    display: inline-block;
}
.detail-banner{
    text-align: center;
}
.project-top{
    border-bottom:1px #999 solid;
    /*width: 100%;*/
    padding-bottom: 5px;
    padding-top: 22px;
    margin-left: 20px;
    margin-right: 20px;
}
.project-head{
    font-size: 16px;
    line-height: 18px;
    color: #666;
}
.project-head .project-title{
    font-size: 18px;
    line-height: 18px;
    color: #b50917;
    width: 80px;
    border-bottom:2px #b50917 solid;
    padding-bottom: 4px;
}
.product-name{
    margin: 15px 0px;
    font-size: 18px;
    border-bottom: 1px #ddd dashed;
    padding: 5px 0px;
}
.product-content{
    margin-bottom: 10px;
}
.nav-tabs , .product-tab-content{
    margin-left: 20px;
    margin-right: 20px;
}
.product-tab-content{
    margin-top: 10px;
    margin-bottom: 10px;
}
.connectus-top{
    border-bottom:1px #999 solid;
    /*width: 100%;*/
    padding-bottom: 5px;
    padding-top: 22px;
    margin-left: 20px;
    margin-right: 20px;
}
.connectus-head{
    font-size: 16px;
    line-height: 18px;
    color: #666;
}
.connectus-head .connectus-title{
    font-size: 18px;
    line-height: 18px;
    color: #b50917;
    width: 80px;
    border-bottom:2px #b50917 solid;
    padding-bottom: 4px;
}
.connectus-icon{
    height: 35px;
    width: 35px;
}
.connectus-content{
    min-height: 35px;
    /*padding-bottom: 10px;
    padding-top: 10px;*/
    margin-left: 20px;
    margin-right: 20px;
    -webkit-align-items: center;
    align-items: center;
    /*-webkit-justify-content: center;
    justify-content: center;*/
    display: -webkit-flex;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
}
.connectus-text{
    font-size: 16px;
}
.connectus-icon{
    float: left;
}